
// 0000000     0000000   00000000   000   000  
// 000   000  000   000  000   000  000  000   
// 000   000  000000000  0000000    0000000    
// 000   000  000   000  000   000  000  000   
// 0000000    000   000  000   000  000   000  

bgColor             = #131313
keyColor            = #0b0b0b
keyHoverColor       = #000
keyActiveColor      = #181818
sheetColor          = #0f0f0f
frameColor          = #080808
inputColor          = #181818

titleRedColor       = #f00
titleColor          = #333
scrollColor         = #444
textBlurColor       = #666
textActiveColor     = #999
textFocusColor      = #fff

#main
#input
    background          #131313
    
#keys
    background          bgColor
    
#sheet
    border              2px solid keyColor
    background          sheetColor
        
// 000  000   000  00000000   000   000  000000000  
// 000  0000  000  000   000  000   000     000     
// 000  000 0 000  00000000   000   000     000     
// 000  000  0000  000        000   000     000     
// 000  000   000  000         0000000      000     

.input-frame
    border              2px solid keyColor
    background          inputColor
    
.input-text
    color               textFocusColor
  
// 000   000  00000000  000   000  
// 000  000   000        000 000   
// 0000000    0000000     00000    
// 000  000   000          000     
// 000   000  00000000     000     

.key
span
    background          keyColor
    border              none
    white-space         pre
    &.nan
        color           #f00
    &.clear
    &.backspace
        color           #800
    &.digit
        color           #88f
    &.function
        color           #f80
    &.constant
        color           #ff0
    &.op0
        color           #fff
    &.op1
        color           #aaf
    &.op2
        color           #66f
    &.bracket
        color           #333
    &.equals
        color           #444
    &.dot
    &.exponent
    &.complex
        color           #44a
    
.key
    z-index             1000
    color               scrollColor
    border              2px solid frameColor
    &:hover
        background      keyHoverColor
        color           textFocusColor
    &:active
        background      keyActiveColor

    