

#main,
#input
{
    background: #131313;
}

#keys
{
    background: #131313;
}

#sheet
{
    border: 2px solid #0b0b0b;
    background: #0f0f0f;
}

.input-frame
{
    border: 2px solid #0b0b0b;
    background: #181818;
}

.input-text
{
    color: #fff;
}


.key,
span
{
    background: #0b0b0b;
    border: none;
    white-space: pre;
}

.key.clear,

.key.backspace,
span.clear,
span.backspace
{
    color: #800;
}

.key.numbers,

.key.digit,
span.numbers,
span.digit
{
    color: #88f;
}

.key.function,
span.function
{
    color: #f80;
}

.key.constant,
span.constant
{
    color: #fc0;
}

.key.op0,
span.op0
{
    color: #fff;
}

.key.op1,
span.op1
{
    color: #aaf;
}

.key.op2,
span.op2
{
    color: #66f;
}

.key.bracket,
span.bracket
{
    color: #333;
}

.key.func,

.key.equals,
span.func,
span.equals
{
    color: #0a0;
}

.key.dot,

.key.exponent,

.key.complex,
span.dot,
span.exponent,
span.complex
{
    color: #44a;
}

.key
{
    z-index: 1000;
    color: #444;
    border: 2px solid #080808;
}

.key:hover:not(.inactive)
{
    background: #000;
}

.key:active:not(.inactive)
{
    background: #181818;
}

.key:hover:not(.inactive)
{
}

.key:hover:not(.inactive) .key-wrap
{
    color: #ddf;
    text-shadow: 0 0 30px rgba(175,175,255,1), 0 0 60px rgba(0,0,255,1);
}


.key:hover:not(.inactive).func .key-wrap,
.key:hover:not(.inactive).equals .key-wrap
{
    color: #0f0;
    text-shadow: 0 0 30px rgba(0,200,0,1), 0 0 60px rgba(0,155,0,1);
}




.key:hover:not(.inactive).clear .key-wrap,
.key:hover:not(.inactive).function .key-wrap,
.key:hover:not(.inactive).constant .key-wrap,
.key:hover:not(.inactive).backspace .key-wrap
{
    color: #ff0;
    text-shadow: 0 0 30px rgba(205,0,0,1), 0 0 60px rgba(105,0,0,1);
}

.key.inactive
{
    color: #131313;
}
