
body
{
    display: none;
    font-family: fontMono;
    font-size: 14px;
}

#main
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#sheet
{
    flex: 1 1 0;
    overflow: auto;
    display: none;
    flex-direction: row;
    padding: 0;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 8px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#keys
{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.sheet-calc
{
    padding: 6px;
    flex: 1 1 0;
}

.sheet-result
{
    padding: 6px;
    flex: 1 1 0;
}

.sheet-line
{
    white-space: nowrap;
    height: 26px;
    text-align: right;
    font-size: 22px;
    -webkit-user-select: auto;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    width: 94%;
    overflow: hidden;
}

.sheet-line.result
{
    text-align: left;
}

#input
{
    flex: 0 0 100px;
    margin-top: -6px;
    padding-top: 6px;
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 6px;
}

.input-frame
{
    position: relative;
    height: 100px;
    min-height: 100px;
    border-radius: 10px;
}

.input-text
{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 12px;
    right: 12px;
    font-size: 80px;
    -webkit-user-select: auto;
    white-space: pre;
    pointer-events: all;
    text-align: right;
}

.input-text span
{
    background: transparent !important;
    vertical-align: middle;
}

.input-text span:last-child
{
        padding-right: 14px;
}


.key,
span
{
}

.key.function,

.key.complex,
span.function,
span.complex
{
    font-style: italic;
}

#keys
{
    flex: 0 0;
}

.key-row
{
    font-size: 60px;
    overflow: visible;
}

.key
{
    vertical-align: top;
    padding-top: 20px;
    font-size: 35px;
    width: 80px;
    height: 60px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}

.key.bottom
{
    padding-top: 105px;
}

.key.right
{
    text-align: right;
    padding-right: 31px;
}
