doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        link(rel='stylesheet' href='./css/about.css' type='text/css')
    body
        #main(tabindex=0)
    
    script(type="module" src="./about.js")
    